{{#each threads as |thread|}}
  {{thread-list-item thread=thread showTopicLabel=showTopicLabel}}
{{^}}
  <h1>Ooops</h1>
  <h2>
    Sadly, we did not found any threads in this topic
  </h2>
{{/each}}

{{#if (and (and threads.meta (not disablePagination)) threads)}}
  {{thread-list-pagination pagination=threads.meta.pagination limit=limit page=page}}
{{/if}}
