.thread-content
  white-space: pre-wrap
  margin-bottom: 20px

.thread-headline
  margin: 5px 0
  font-size: 16px
  font-weight: 500

.thread-headline-date
  font-style: italic
  color: mui-color('grey', '400')
