<h1 class="thread-title">
  {{thread.title}}
  {{#if preview}}
    <span class="label label--secondary pull-right">Draft</span>
  {{/if}}
</h1>

{{#unless preview}}
  <div class="thread-headline">
    By {{user-alias thread.user}}
    <span class="thread-headline-date">
      &bull;
      {{moment-format thread.created 'MMMM Do, YYYY [at] HH:mm'}}
    </span>
  </div>
{{/unless}}

<div class="thread-content">
  {{~thread.content~}}
</div>
