$error-color: mui-color('red', 'A700')

.mui-textfield.has-error
  textarea, input
    border-color: $error-color

    color: $error-color

  label
    color: $error-color

  .errors
    color: $error-color
    font-size: 12px
    margin-top: 5px

    p
      margin: 0
