html
  height: 100%

body
  min-height: 100vh
  display: flex

  &.ember-application > .ember-view
    flex-grow: 1

.mui-container
  @media #{$sm}
    width: $mui-container-sm

  @media #{$md}
    width: $mui-container-md

  @media #{$lg}
    width: $mui-container-lg

  @media #{$xl}
    width: $mui-container-lg
    max-width: $mui-container-lg

.liquid-container, .liquid-child
  display: flex
  flex-grow: 1
  flex-direction: column
  overflow: visible

.liquid-container
  &.liquid-animating, &.liquid-animating .liquid-child
    overflow: hidden

h1, h2, h3, h4, h5
  word-break: break-all

.main-content
  max-height: 100%
  overflow: hidden

  @media #{$xl}
    margin-left: 0
    transition: margin-left .2s ease

    &.main-content--pushed
      margin-left: $nav-side-width

.overlay
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-color: rgba(0,0,0,0)
  pointer-events: none
  z-index: 1
  transition: background-color .2s ease

  &--visible
    background-color: rgba(0,0,0,0.2)
    pointer-events: all

    @media #{$xl}
      background-color: rgba(0,0,0,0)
      pointer-events: none
