html
  height: 100%
  word-break: break-word
  hyphens: auto

.ember-application
  display: flex
  flex-direction: column
  flex-grow: 1
  min-height: 100%

  > .ember-view:first-of-type
      flex-grow: 1
      position: relative
      overflow-y: auto
      overflow-x: hidden

.liquid-container, .liquid-child
  display: flex
  flex-grow: 1
  flex-direction: column
  overflow: visible

.liquid-container
  &.liquid-animating, &.liquid-animating .liquid-child
    overflow: hidden

.mui-container
  width: 100%

  @media #{$sm}
    width: $mui-container-sm

  @media #{$md}
    width: $mui-container-md

  @media #{$lg}
    width: $mui-container-lg

  @media #{$xl}
    width: $mui-container-lg
    max-width: $mui-container-lg

.main-content
  max-height: 100%
  overflow-y: auto
  overflow-x: hidden

  @media #{$xl}
    margin-left: 0
    transition: margin-left .2s ease

    &.main-content--pushed
      margin-left: $nav-side-width

.overlay
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-color: rgba(0,0,0,0)
  pointer-events: none
  z-index: 1
  transition: background-color .2s ease

  &--visible
    background-color: rgba(0,0,0,0.2)
    pointer-events: all

    @media #{$xl}
      background-color: rgba(0,0,0,0)
      pointer-events: none
