@import 'mui/colors'

$mui-primary-color:       mui-color('cyan', '500')
$mui-primary-color-dark:  mui-color('cyan', '700')
$mui-primary-color-light: mui-color('cyan', '300')

$mui-accent-color:        mui-color('grey', '800')
$mui-accent-color-dark:   mui-color('grey', '900')
$mui-accent-color-light:  mui-color('grey', '700')

$mui-base-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif
$mui-base-font-weight: 300

@import 'mui'
@import 'font-awesome'

$sm: '(min-width: 544px)'
$md: '(min-width: 768px)'
$lg: '(min-width: 992px)'
$xl: '(min-width: 1200px)'

$nav-side-width: 250px

@import 'pod-styles'

html
  height: 100%

body
  min-height: 100vh
  display: flex

  &.ember-application > .ember-view
    flex-grow: 1

.mui-container
  @media #{$sm}
    width: $mui-container-sm

  @media #{$md}
    width: $mui-container-md

  @media #{$lg}
    width: $mui-container-lg

  @media #{$xl}
    width: $mui-container-xl

.liquid-container, .liquid-child
  display: flex
  flex-grow: 1
  flex-direction: column
  overflow: visible

.liquid-container
  &.liquid-animating, &.liquid-animating .liquid-child
    overflow: hidden
