<h2>{{model.name}}</h2>
<em>{{model.description}}</em>

<br>

{{#each model.threads as |thread|}}
  {{#link-to 'topic.thread' thread.id}}
    {{moment-format thread.created 'DD.MM.YYYY HH:mm'}}: {{thread.title}}<br>
  {{/link-to}}
{{/each}}
