<ol class="breadcrumb breadcrumb-arrow">
  {{#if breadCrumbs}}
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  {{else}}
    <li class="active"><span>Home</span></li>
  {{/if}}

  {{#each breadCrumbs as |b|}}
    {{#if b.isCurrent}}
      <li class="active"><span>{{b.label}}</span></li>
    {{else}}
      <li>{{#link-to b.path}}{{b.label}}{{/link-to}}</li>
    {{/if}}
  {{/each}}
</ol>
