<header class="side-nav-header">
  {{#link-to 'index'}}<img src="http://publicdomainvectors.org/photos/provider_internetsvg.png">{{/link-to}}
</header>

<span class="side-nav-divider"></span>

<section class="side-nav-content">
  <label class="search">
    {{fa-icon 'search'}}
    {{input type='text' placeholder='Search Topics' value=search}}
  </label>
  <span class="side-nav-divider"></span>
  <ul class="side-nav-list">
    {{#each entries as |topic|}}
      <li class="side-nav-list-item">{{#link-to 'topic' topic.identifier}}{{topic.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</section>
