<div class="mui-row">
  <div class="mui-col-md-6">
    <h1>New Thread</h1>
    <div class="mui-textfield mui-textfield--float-label">
      {{input type='text' value=model.title}}
      <label>Title</label>
    </div>
    <div class="mui-textfield mui-textfield--float-label">
      {{textarea value=model.content}}
      <label>Content</label>
    </div>
  </div>
  <div class="mui-col-md-6">
    <h1>Preview</h1>
    <div class="preview">
      <h2>{{model.title}}</h2>
      {{markdown-to-html markdown=model.content}}
    </div>
  </div>
</div>
