<ul class="media-list">
  {{#each comments as |comment|}}
    {{comment-list-item comment=comment}}
  {{/each}}
</ul>

<div class="mui-row">
  <div class="mui-col-md-4 pull-right">
    <form {{action 'add' on='submit'}}>
      <div class="mui-textfield mui-textfield--float-label">
        {{textarea value=comment class='form-control form-group'}}
        <label>Comment</label>
      </div>
      <button type="submit" class="mui-btn mui-btn--primary pull-right">Add comment</button>
    </form>
  </div>
</div>
