<main class="error-page">
  {{fa-icon 'frown-o'}}
  <h1>404</h1>
  <h2>Page not found</h2>
  <p>
    The Page you are looking for doesn't exist or an other error occured.
    <br>
    {{#link-to 'index'}}Go back to {{fa-icon 'home'}} Home{{/link-to}}
  </p>
</main>
