{{thread-body model.thread}}

<div class="mui-divider"></div>

{{#comment-list model.thread.comments as |comment|}}
  {{comment-list-item comment
    owner              = model.user
    current            = highlighted
    highlightComment   = (action (mut highlighted))
    unhighlightComment = (action (mut highlighted) null)
  }}
{{/comment-list}}

{{comment-form model.comment comments=model.thread.comments on-submit=(route-action 'save')}}
